<html>
    <head>
        {% block style %}{% endblock style %}

        {% block title %}
            <title>Primeiro Teste</title>
        {% endblock title %}
    
    </head>
    <body>
        {% block body %}{% endblock body %}
    </body>
</html>